.login {
  overflow: hidden;
  outline-color:#fd8a94;
  outline-style: inset;
  outline-width: thick;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 800px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

button.buttontable {
  position: absolute;
  right: 30px;
  bottom: 100px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  border: 10px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  transition: background-color 300ms;
}

button.buttontable:hover {
  background-color: #f24353;
}

.rectangle {
  height: 200px;
  width: 740px;
  margin-bottom: 50px;
  background-color: #555;
}

.tool-output1 {
  background-color: #d6d6d6;
  position: absolute;
  margin-top: 20px;
  padding: 20px;
  border-style: dashed;
  border-color: #919090;
  height: 200px;
  width: 740px;
  text-align: center;
}

.tbl-prev1 {
  position: absolute;
  overflow: scroll;
  height: 200px;
  width: 740px;
}

.bar1 {
  border-left: 4px solid #f45b69;
  height: 190px;
  position: absolute;
  bottom: 20px;
  left: 250px;
  margin-top: 370px;
  margin-left: -5px;
  top: -80px;
}

.bar2 {
  border-left: 4px solid #f45b69;
  height: 190px;
  position: absolute;
  bottom: 20px;
  left: 600px;
  margin-top: 370px;
  margin-left: -5px;
  top: -80px;
}

.login > h3 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 59%;
  left: 10px;
}

.diagnosis {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 10px;
}

.model {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 120px;
}

.login > h4 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 90%;
  left: 10px;
}

.resulttable {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  line-height: 0.1;
  bottom: 0.1%;
  left: 32%;
}


