.login {
  overflow: hidden;
  outline-color: #fd8a94;
  outline-style: inset;
  outline-width: thick;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 800px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.right-side-bttns {
  position: absolute;
  right: 30px;
  bottom: 0;
  display: block;
  height: 200px;
  text-align: center;
  padding: auto;
  width: 150px;
  line-height: 3;
  padding-top: 50px;
  padding-bottom: 10px;
}

.backbutton {
  bottom: 0;
  margin-right: 0;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  background-color: #fa7470;
  border-radius: 30px;
  border-width: 0;
  padding: 10px 52px;
  font-size: medium;
  text-decoration: none;
  text-decoration: none;
}

.backbutton:hover {
  background-color: #d93d4a;
  color: white;
  text-decoration: none;
}

.aboutbutton {
  text-decoration: none;
  bottom: 0;
  margin-right: 0;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  background-color: #fa7470;
  border-radius: 30px;
  border-width: 0;
  padding: 10px 50px;
  font-size: medium;
  text-decoration: none;
}

.aboutbutton:hover {
  background-color: #d93d4a;
  text-decoration: none;
  color: white;
}


.tool-output1 {
  background-color: #d6d6d6;
  position: absolute;
  border-style: inset;
  margin-top: -20px;
  padding: 20px;
  border-color: #919090;
  height: 200px;
  width: 740px;
  text-align: center;
}

/* .tbl-prev1 {
  overflow-x: scroll;

} */

.tbl-prev1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  width: 700px;
  top: 5px;
}

.tbl-prev1::-webkit-scrollbar {
  display: none;
}

.bar1 {
  border-left: 4px solid #f45b69;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 300px;
}

.bar2 {
  border-left: 4px solid #f45b69;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 600px;
}

.diagnosis>h1 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: red;
  top: 70%;
  left: 30px;
}

.diagnosis>h3 {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 59%;
  left: 30px;
}

.model {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 30px;
  display: block;
}


.resulttable {
  position: absolute;
  line-height: 0.4;
  bottom: 0;
  left: 40%;
}

.resulttable p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}