{% extends "main-page.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}OvYou · Ovarian Decision Tree{% endblock %}
  </head>

  <body>
    {% block content %}
    <!-- OVARIAN DECISION TREE TOOL -->
    <div class="main-cont-tool">
      <form action="/ovarian_dt" method="POST" enctype="multipart/form-data">
        <div class="container-main row">
          <div class="container-io col m-2">
            <!-- EXCEL FILE INPUT -->
            <div class="file-loading">
              <div class="tool-input">
                <input
                  type="file"
                  id="input"
                  name="input"
                  accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  onClick="preview(input)"
                />
              </div>
            </div>
            <!-- TABLE PREVIEW -->
            <div id="tooloutput">
              <div class="tbl-prev">
                <table id="tbl-data"></table>
              </div>
            </div>
          </div>
          <div class="container-cont col m-2">
            <div class="cont-cont">
              <p>OVARIAN CANCER<br />PREDICTION<br />TOOL</p>
              <button
                class="choose-button"
                type="submit"
                href="{{ url_for('ovarian_result')}}"
              >
                Start
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
