{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}OvYou · Home{% endblock %}
</head>

<body>
    {% block content %}
    <!-- LANDING -->
    <main id="home">    
        <div class="container-fluid">
            <div class="col">
                <h1>Ovarian Cancer</h1>
                <h2>PREDICTION TOOL</h2>
                <div class="paragraph">
                    <p>This tool will predict if the patient is positive in Ovarian Cancer by examining
                        physical and clinical assessment of the patient using the machine learning models SVM and
                        Decision Tree
                    </p>
                </div>
                <div class="start-button">
                    <button class="choose-button" type="button" onclick="window.location.href = 'ovarian_svm'">SVM</button>
                    <button class="choose-button" type="button" onclick="window.location.href = 'ovarian_dt'">Decision Tree</button>
                </div>
            </div>
        </div> 
    </main>
    {% endblock %}
   

</body>

</html>